@addTagHelper Kentico.Content.Web.Mvc.WidgetZoneTagHelper, Kentico.Content.Web.Mvc

<div>
    <div style="float:left; width:50%;">
        <widget-zone />
    </div>
    <div style="float:left; width:50%;">
        <widget-zone />
    </div>
    <div style="clear:both;" />
</div>