@using Kentico.Web.Mvc
@using Kentico.Forms.Web.Mvc 

<div>
    <div style="float:left; width:50%;">
        @await Html.Kentico().FormZoneAsync()
    </div>
    <div style="float:left; width:50%;">
        @await Html.Kentico().FormZoneAsync() 
    </div>
    <div style="clear:both;" />
</div>