@addTagHelper *, Kentico.Content.Web.Mvc

@using Kentico.PageBuilder.Web.Mvc

@model ComponentViewModel<LandingPageProperties>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <page-builder-styles />
}

@{
    // Sets the page title to the name of the current page
    ViewBag.Title = Model.Page.DocumentName;
}

@if (Model.Properties.ShowTitle)
{
    <h1>@Model.Page.DocumentName</h1>
}

<div>
    <div>
        @* Renders editable areas using the editable-area Tag Helper *@
        <editable-area area-identifier="top" />
    </div>
    <div style="background-color: #eeeeee">
        <editable-area area-identifier="bottom" />
    </div>
</div>

@section Scripts {
    <page-builder-scripts />
}
