
@{
    ViewBag.Title = "Password reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Success)
{
    <h2>Password reset successful</h2>
    <p>
        Your password was successfully changed. You can now <a asp-controller="Account" asp-action="SignIn">Sign-in</a>.
    </p>
}
else
{
    <h2>Password reset failed</h2>
    <p>
        The link that you followed is invalid and you cannot reset your password.
    </p>
}