@model LearningKitCore.Models.Users.PasswordReset.PasswordResetRequestViewModel

@{
    ViewBag.Title = "Password reset request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password reset request</h2>

<p>Enter the email address associated with your user account. The system will send you an email with a link that allows you to reset your password.</p>

<form asp-controller="PasswordReset" asp-action="RequestPasswordReset" method="post">

    <div class="form-group">
        <span><label asp-for="Email"></label></span>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <input type="submit" value="Sign in" class="btn btn-primary" />
</form>