@model LearningKitCore.Models.Users.PasswordReset.PasswordReseViewModel

@{
    ViewBag.Title = "Password reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password reset</h2>

<div asp-validation-summary="ModelOnly" class="text-danger">
    <span>Please correct the following errors</span>
</div>

<form asp-controller="PasswordReset" asp-action="ResetPassword" method="post">

    <input asp-for="UserId" type="hidden">
    <input asp-for="Token" type="hidden">

    <div class="form-group">
        <span><label asp-for="Password"></label></span>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <span class="text-dark"><label asp-for="PasswordConfirmation"></label></span>
        <input asp-for="PasswordConfirmation" class="form-control" />
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    
    <input type="submit" value="Change password" class="btn btn-primary" />
</form>