@using Kentico.Content.Web.Mvc
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc


@model ComponentViewModel<ExtendedFormWidgetProperties>
@* Configurable heading added above the default form widget *@
<h1>@Model.Properties.HeadingText</h1>

@* Renders the nested form widget *@
@await Html.Kentico().RenderNestedWidgetAsync(SystemComponentIdentifiers.FORM_WIDGET_IDENTIFIER, Model.Properties)