@*DocSection:ThankYou*@
@{
    ViewBag.Title = "Thank-you page";
}

<h2>Thank-you page</h2>

<p>Order number: @ViewBag.OrderID</p>
<p>Your order was succesfully created. Thank you for shopping with us!</p>
@*EndDocSection:ThankYou*@