
@Model  LearningKitCore.Models.Users.ExternalAuthentication.ExternalAuthenticationFailureViewModel

@{
    ViewData["Title"] = "ExternalAuthenticationFailure";
}

<h1>External Authentication Failed</h1>
<div asp-validation-summary="All"></div>
