@{
    ViewBag.Title = "Unable to create external account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unable to create the external user account</h2>
<p>
    Authentication via the external service was successful, but a problem occurred when attempting to create a corresponding user account in Xperience. For example, a conflict with an existing username may have occurred.
</p>
<div>
    <div asp-validation-summary="All">
    </div>
</div>