@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the LearningKit project</h2>

<p>In this project, you can find short examples that demonstrate how to work with the Xperience API.</p>
<ul style="list-style: none">
    <li>
        <a asp-action="Builders" asp-controller="Home">Page and form builder</a><br />
        <ul>
            <li>Set up a page with the Page builder and add a form created using the Form builder.</li>
        </ul>
    </li>
    <li>
        <a asp-action="Users" asp-controller="Home">Users and data protection</a><br />
        <ul>
            <li>Work with Xperience users via ASP.NET Core Identity.</li>
            <li>Manage consents and cookie levels.</li>
        </ul>
    </li>
    <li>
        <a asp-action="ECommerce" asp-controller="Home">E-Commerce</a><br />
        <ul>
            <li>Set up a basic product catalogue together with a checkout process.</li>
        </ul>
    </li>
    <li>
        <a asp-action="Search" asp-controller="Home">Search</a><br />
        <ul>
            <li>Create a search index using Smart search or Azure Cognitive Search with a simple search interface.</li>
        </ul>
    </li>
    <li>
        <a asp-action="MediaLibraries" asp-controller="Home">Media Libraries</a><br />
        <ul>
            <li>Display files from Media Libraries.</li>
        </ul>
    </li>
    <li>
        <a asp-action="OnlineMarketing" asp-controller="Home">On-line marketing</a><br />
        <ul>
            <li>Set up a newsletter and allow users to subscribe.</li>
        </ul>
    </li>
</ul>