@{
    ViewData["Title"] = "Media Libraries";
}

<h2>Media libraries</h2>
<ul>
    <li>
        <a asp-controller="MediaLibrary" asp-action="ShowMediaFiles">Media library files listing</a>
        <br />
        ⚠<strong>Note:</strong> The media library files listing displays files from the "SampleMediaLibrary". An error will occur if the media library does not exist in the connected Xperience database.
    </li>
</ul>