@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Waiting for approval";
}

<p>Your account is pending administrator approval. You will not be able to sign in until your account is activated.</p>