@using LearningKitCore.Models.Search.SmartSearch

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Smart search";
}

<h2>Smart search</h2>

<p>
    <strong>Note</strong>: This search uses a locally stored index with the code name "CoreSite.Index". To use the search functionality, you need to create the index in the connected Xperience administration application.
</p>

@*DocSection:SearchForm*@
 <form asp-controller="SmartSearch" asp-action="SearchIndex" method="get">
    <div class="form-group">
        <span class="text-dark"><label text="Search"></label></span>
        <input type="text" class="form-control" name="searchText" placeholder="Search..." maxlength="1000" />
    </div>
    <input type="submit" value="Search" class="btn btn-light">
</form>
@*EndDocSection:SearchForm*@

@*DocSection:SearchResultItemList*@
@model SearchResultModel

@using CMS.Search;

@if (!Model.Items.Any())
{
    if (!String.IsNullOrWhiteSpace(Model.Query))
    {
        <h3>No results found for "@Model.Query"</h3>
    }
}
else
{
    <h3>Results for "@Model.Query"</h3>
    foreach (SearchResultItem item in Model.Items)
    {
    <div>
        <strong>@item.Title</strong>
    </div>
    <div>
        @Html.Kentico().ResolveUrls(item.Content)
    </div>
    }
}
@*EndDocSection:SearchResultItemList*@